body {
    background-color:  #eef9bf;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    color: #75B79E;
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;

}

main {
    
    margin-left: 122px;
    margin-right: 122px;
    margin-top: 47px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;

}

.cards {
    
    background-color: #A7E9AF;
    width: 117px;
    height: 146px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: relative;
    
    transition: all 400ms ease;
    transform-style: preserve-3d;
}
   


.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

img {
    width: 100px;
    height: 100px;
    
}

.back-face {
    
    backface-visibility: hidden;

}

.front-face {
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.reveal-card {
    transform: rotateY(180deg);
}




